
.feedback-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .feedback-textarea:focus {
    outline: 2px solid #007bff; 
}
  .feedback-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .feedback-description {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .feedback-response {
    font-size: 30px;
    color: #333;
    text-align: center;
    
  }
   


